* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.logo {
  width: 3.5rem;
  height: auto;
}

.App {
  height: 10;
}

.page_header, .blog {
  text-align: center;
  color: rgb(134, 189, 134);
}

.blog-details {
  h1, h2 {
    text-align: center;
  }
  article {
    padding: 0 10% 0 10%;
    display:'flex';
    justify-content: 'center';
    align-items:'center';
    margin: 0 auto;
  }
}

 /* unvisited link */
a {
  text-decoration: none;
}

a:link {
  color: #378122;
}

/* visited link */
a:visited {
  color: #376400;
}

/* mouse over link */
a:hover {
  font-weight: bolder;
  color: #6c9a5f;
}

/* selected link */
a:active {
  font-weight: bolder;
  color: #adff2f;
} 

.center {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.blog_home {
  margin:0 auto;
  text-align: center;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #1da88a;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #1da88a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}